@page "{id:int?}"
@model RBweb.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Categorii";
}

<h1>Categorii</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nume Categorie</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CategorieData.Categorii)
        {
            string selectedRow = "";
            if (item.ID == Model.CategorieID)
            {
                selectedRow = "table-success";
            }

            <tr class="@selectedRow">
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.CategorieData.Meniuri != null)
{
    <h3>Meniuri din categoria selectată</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Denumire</th>
                <th>Pret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategorieData.Meniuri)
            {
                <tr>
                    <td>@item.Denumire</td>
                    <td>@item.Pret</td>
                </tr>
            }
        </tbody>
    </table>
}
